body , html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}


header{
    background: #F36E21;
    /*min-height: 51px;*/
    /*width:100%;*/
}



#ritLogo{
    background:  url("../images/logo.png") no-repeat;
    width: 350px;
    height: 51px;
    margin-right:0;
}

.navbar-orange{
    background: #F36E21 ;
    box-shadow: 0px 5px 15px #888888;
}

.navbar-brown{
    background: #513127;
}
a:link {  color: white; }
a:visited {  color: white; }
a:hover {  color: white; }
a:active {  color: white; }



.second-level-nav{
    background: #666666;
    width:100%;
    color:white;
    margin-top:62px;
    margin-bottom: 20px;
    z-index: 5;
}

.second-level-nav .container .nav li a{
    padding:8px;
    font-size: 14px;
}
.second-level-nav .container .nav li a:hover{
    color:black;
}
.second-level-nav .container .nav li a:active{
    color:black;
}
.card-header{
    background: #F36E21;

}
.card{
    box-shadow: 0px 5px 16px #888888;
    border: 0px solid rgba(229, 229, 229, 0);
}
.top-nav-bar-buttons:active{
    background: #F36E21;
}

.block-element-container{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    flex-flow: row wrap;

}
.flex-item {
    justify-content: center;
    -webkit-flex: 1; /* Safari 6.1+ */
    flex: 1;
    min-width: 300px;
}

h2{
    margin:0px;
    font-size: 24px;
}
.text-align-middle{
    color:#666;
    margin:10px;
}

.btn-default{
    background: #262626;
    color:white;
}
.btn-danger{
    color:white;
}

.btn-default:hover{
    background: #191919;
    color:white;

}

i{
    cursor: pointer;
}
.top-nav-bar-buttons:hover {
    text-decoration: underline;
}

.table-hover:hover{
    background-color: rgba(25,25,25,0.15);

}

.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
    display: block;
}

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.card-wrapper {
    width: 640px;
    background: #FFFFFF;
    padding: 1em;
    margin: 1em auto;
    border-top: 5px solid #F36E21;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h1 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #999999;
}

input {
    width: 100%;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.8em;
    background: #69c773;
    border-bottom: 1px solid #498b50;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

button:hover, button:focus {
    opacity: 0.75;
    cursor: pointer;
}

button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.nav-pills>li.active>a:hover{
    background-color: #eee;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    color: #999999
}
.nav-pills>li>a {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    color: #999999;
    padding: 2px 7px;
}
.nav-pills>li.active>a{
     background-color: #666666;
 }
.nav-pills>li.active>a:focus{
    background-color: #666666;
    color:white;

}
